<div class="row home">Home</div>
<div class="row main">
  <div class="col category">
    <h1>Panes</h1>
    <div class="row" *ngFor="let pane of panes">
      {{ pane.name }}
      <div class="row">
        <img [src]="pane.image" class="item-image" />
      </div>
    </div>
  </div>
  <div class="col category">
    <h1>Sculptures</h1>
    <div class="row">
      <div class="col">
        Hey
      </div>
    </div>
    <div class="row">
      <div class="col">
        Hey
      </div>
    </div>
  </div>
  <div class="col category">
    <h1>Collage</h1>
    <div class="row">
      <div class="col">
        Hey
      </div>
    </div>
    <div class="row">
      <div class="col">
        Hey
      </div>
    </div>
  </div>
</div>
