h1
  font-size: 5vw

.category
  width: 33.4vw
  height: 92vh
  overflow: auto
  //scrollbar
  scrollbar-width: none
  -ms-overflow-style: none
  &::-webkit-scrollbar
    width: 0px
    background: transparent
  //---

.col
  padding: 0
  text-align: center

.row
  width: 100%
  margin: 0
  justify-content: center

.item-image
  width: 20vw
  height: 20vh
