<div
  class="container-fluid home"
  [routerLink]="navService.link"
  *ngIf="navService.showNav"
>
  <div class="nav-direct">&lt;&lt;&lt;</div>
  <div class="container-fluid admin-controls">
    <button
      class="btn btn-primary"
      *ngIf="isLoggedIn"
      (click)="openAddDialog($event)"
    >
      Add Items
    </button>
    <button
      class="btn btn-primary"
      *ngIf="isLoggedIn && navService.showEditItem"
      (click)="openEditDialog($event)"
    >
      Edit Item
    </button>
    <button class="btn btn-danger" (click)="logout($event)" *ngIf="isLoggedIn">
      Logout
    </button>
  </div>
</div>
