<div class="container-fluid">
  <div class="row">
    <div class="col" id="ptp" (mouseover)="showMenu()">
      <span id="short">PTP</span>
      <span id="long">PTPETROV</span>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div
        class="menu"
        *ngIf="menu"
        (mouseover)="showStore()"
        routerLink="gallery"
      >
        ART
      </div>
    </div>
    <div class="col">
      <div id="store" *ngIf="store">
        <span id="text-store">STORE</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="menu" *ngIf="menu">
        ADV
      </div>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>
