.container-fluid
  height: 100%
  background-image: url("../../../assets/images/test.jpg")
  background-size: cover

.row
  height: 25%
  width: 100%
  margin: 0px

.col
  height: 100%

.menu
  display: flex
  align-content: center
  align-items: center
  justify-content: center
  font-size: xx-large
  font-family: 'Rowdies', cursive
  background-color: rgba(0, 0, 0, 0.5)
  color: rgba(255, 255, 255)
  cursor: pointer

#ptp
  display: flex
  align-content: center
  align-items: center
  justify-content: center
  font-size: xx-large
  font-family: 'Rowdies', cursive
  background-color: rgba(0, 0, 0, 0.5)
  color: rgba(255, 255, 255)

#long
  display: none

#art 
  height: 100%
  opacity: 0%
  animation-name: fade
  animation-duration: 3s
  animation-fill-mode: forwards
  animation-delay: 1s

#store
  opacity: 0%
  width: 100%
  height: 100%
  display: flex
  align-content: center
  align-items: center
  justify-content: center
  font-size: xx-large
  font-family: 'Rowdies', cursive
  background-color: rgba(0, 0, 0, 0.5)
  color: yellow
  cursor: pointer
  animation-name: fade
  animation-duration: 3s
  animation-fill-mode: forwards
  animation-delay: 5s

#adv
  opacity: 0%
  animation-name: fade
  animation-duration: 3s
  animation-fill-mode: forwards
  animation-delay: 3s

#about
  opacity: 0%
  animation-name: fade
  animation-duration: 3s
  animation-fill-mode: forwards
  animation-delay: 2s

#text-store
  opacity: 0%
  animation-name: blitz
  animation-duration: 3s
  animation-fill-mode: forwards
  animation-delay: 6s
  animation-timing-function: step-end

@keyframes fade
  from
    opacity: 0%
  to 
    opacity: 100% 

@keyframes blitz
  0%
    opacity: 0%
  10%
    opacity: 100%
  15%
    opacity: 0%
  40%
    opacity: 100%
  50%
    opacity: 0%
  55%
    opacity: 100%
  95%
    opacity: 0%
  100%
    opacity: 100%

@media screen and ( min-width: 500px )
  #long
    display: inline-block
  #short
    display: none

@media screen and ( max-width: 500px )
  #text-store
    transform: rotate(270deg)
