<div class="form-container">
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="form-group">
      <label> Item Name</label>
      <input class="form-control" formControlName="itemName" />
      <br />
      <label for="exampleFormControlSelect1">Type</label>
      <select
        class="form-control"
        id="exampleFormControlSelect1"
        formControlName="type"
      >
        <option *ngFor="let type of types">{{ type }}</option>
      </select>
      <br />
      <label>Size</label>
      <input class="form-control" formControlName="size" />
      <br />
      <label>Technics</label>
      <input class="form-control" formControlName="technics" />
      <br />
      <div>
        <label>Images</label>
        <br />
        <input
          id="image-upload"
          type="file"
          multiple
          formControlName="images"
          (change)="onFileChange($event)"
        />
      </div>
      <br />
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="exampleCheck1"
          formControlName="toGallery"
        />
        <label class="form-check-label" for="exampleCheck1"
          >Add to Gallery</label
        >
        <br />
        <input
          type="checkbox"
          class="form-check-input"
          id="exampleCheck1"
          formControlName="toStore"
        />
        <label class="form-check-label" for="exampleCheck1">Add to Store</label>
      </div>
      <br />
      <label for="exampleFormControlSelect2">Materials</label>
      <select
        multiple
        class="form-control"
        id="exampleFormControlSelect2"
        formControlName="materials"
      >
        <option *ngFor="let mat of materials">{{ mat }}</option>
      </select>
      <br />
      <label> Price </label>
      <input class="form-control" formControlName="price" />
      <br />
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
      &nbsp;
      <button type="button" class="btn btn-primary" (click)="dismiss()">
        Cancel
      </button>
    </div>
  </form>
</div>
