h1
  font-size: 15vw

.title
  top: 0
  background-color: white
  padding-bottom: 2vh

.category
  text-align: center
  padding: 0
  margin-top: 5vh

.row
  width: 100%
  margin: 0
  justify-content: center

.item-image
  width: 80%

@media screen and ( min-width: 578px )
  h1
    font-size: 5vw
  .title
    position: sticky
  .category
    height: 87vh
    overflow: auto
