<div class="row main">
  <div class="col-sm-4 category">
    <div class="title">
      <h1>Panes</h1>
    </div>
    <div class="row" *ngFor="let pane of panes">
      <app-item-box [item]="pane"></app-item-box>
    </div>
  </div>
  <div class="col-sm-4 category">
    <div class="title">
      <h1>Sculptures</h1>
    </div>
    <div class="row" *ngFor="let sculp of sculptures">
      <app-item-box [item]="sculp"></app-item-box>
    </div>
  </div>
  <div class="col-sm-4 category">
    <div class="title">
      <h1>Collages</h1>
    </div>
    <div class="row" *ngFor="let collage of collages">
      <app-item-box [item]="collage"></app-item-box>
    </div>
  </div>
</div>
