<div class="container-fluid main">
  <div class="name">{{ item?.name }}</div>
  <div>
    <div class="size">{{ item?.size }}</div>
    <div class="label">Size</div>
  </div>
  <div>
    <div class="technics">{{ item?.technics }}</div>
    <div class="label">Technics</div>
  </div>
</div>
